{
  "extends": ["react-app"],
  "rules": {
    "import/first": "off",
    "@typescript-eslint/consistent-type-imports": "error"
  },
  "overrides": [
    {
      "files": ["**/tests/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    }
  ]
}
